h1{
    color: rgb(250, 245, 245);
    font-size: 80px;
    text-align: center;
    font-family:cursive;
}
h2{
    color: rgb(247, 243, 243);
    font-size: 30px;
    text-align: center;
    font-family:cursive;
}