/* You can add global styles to this file, and also import other style files */

body{
    background-color: black;
}

h1, h3 {
      font-family: "Paytone One", sans-serif;
      color: antiquewhite;
      /* o si quieres usar la otra: */
      /* font-family: "Bitcount Single Ink", sans-serif; */
    }

.container {
  text-align: center;
  margin-top: 150px;
}

.navbar {
  background-color: #222;
  padding: 10px;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}

.navbar a.active {
  font-weight: bold;
  text-decoration: underline;
}
